#solar-system {
  // position: relative;
  width: 100%;
  margin-bottom: 4rem;
}
.planet {
  stroke: #010a0d;
  stroke-width: 0;
  transition: stroke-width .6s, r .6s, fill 1s;
  r: 1.6;/*
  webkit-animation:rotate 8s linear 0s infinite forwards;
  -moz-animation:rotate 8s linear 0s infinite forwards;
  -ms-animation:rotate 8s linear 0s infinite forwards;
  animation:rotate 8s linear 0s infinite forwards;*/
}
.b-planet {
  stroke-width: 2;
  r: 2;
}
.c-planet {
  fill: #fff !important;
  color: #ccc !important;
}
#rings {
  z-index: -1;
}
.ring {
  transition: .5s;
  stroke-width: .3;
}
#pluto, #pluto-ring {
  display: none;
}
#sun {
  r: 4;
}
.controls > *, .btn-group > * {
  font-size: 1rem;
}
.p-stat {
  transition: color 1s;
}

/*
#sun {fill: #f7c203;}
#mercury {fill: #a93307;}
#venus {fill: #835243;}
#earth {fill: #0e6595;}
#mars {fill: #a52608;}
#jupiter {fill: #c28143;}
#saturn {fill: #d7c093;}
#uranus {fill: #117cb1;}
#neptune {fill: #af9889;}*/

#sun, .sun {fill: #f7c203; color: #f7c203}
#mercury, .mercury {fill: #ce3e19; color: #ce3e19}
#venus, .venus {fill: #ff9468; color: #ff9468}
#earth, .earth {fill: #009182; color: #009182}
#mars, .mars {fill: #c60700; color: #c60700}
#jupiter, .jupiter {fill: #ff9127; color: #ff9127}
#saturn, .saturn {fill: #d5bc99; color: #d5bc99}
#uranus, .uranus {fill: #0066ff; color: #0066ff}
#neptune, .neptune {fill: #45c0ce; color: #45c0ce}

@-webkit-keyframes rotate {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(360deg)}
}

@keyframes rotate {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(-360deg)}
}

.table {
  //font-size: ;
}